#id4me-login input.form-submit {
  padding-left: 2em;
  text-align: left;
  opacity: 0.85;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #007a9d;
  background-image: url('../images/id4me-logo-white.svg');
  background-repeat: no-repeat;
  background-position: .2em center;
  background-size: 1.5em 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
#id4me-login input.form-submit:hover,
#id4me-login input.form-submit:focus {
  opacity: 1;
}
#id4me-login input.form-submit:focus {
  box-shadow: 0 1px 0 #006e8c, 0 0 2px 1px #34afd1;
}
#id4me-login input.form-submit:active {
  border-color: #005a73;
  background-color: #006e8c;
  box-shadow: inset 0 2px 0 #005a73;
}
